<div class="footer-container">
  <div class="copyright mb-4">
    <i class="fa-regular fa-copyright"></i>
    <p class="nav-text ml-2">{{"Laboratorio Lisandro Luppi"}}</p>
  </div>
  <div class="contact-info">
    <a class="contact" [href]="whatsAppLink" target="_blank" rel="noopener noreferrer">
      <i class="pi pi-whatsapp"></i>
      <p class="nav-text ml-2">{{"3364673038"}}</p>
    </a>
    <a class="contact" href="https://www.instagram.com/laboratoriolisandroluppi?igsh=MjR5Mm9neTJ1c3A4" target="_blank" rel="noopener noreferrer">
      <i class="pi pi-instagram"></i>
      <p class="nav-text ml-2">{{"laboratoriolisandroluppi"}}</p>
    </a>
    <a class="contact" [href]="googleMapsLink" target="_blank" rel="noopener noreferrer">
      <i class="pi pi-map-marker"></i>
      <p class="nav-text ml-2">{{"Pellegrini 440"}}</p>
    </a>
  </div>
</div>

