$ins-gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$whatsapp-green: radial-gradient(circle at 30% 107%,#25D366);
$ins-maps: linear-gradient(45deg, #4285F4, #EA4335, #FBBC04, #34A853);

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: auto;
  max-height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(1, 26, 68);
  // background-color: rgb(245, 245, 245);
  border-bottom: solid 2px rgb(39, 38, 38);
}

.flex-logo{
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  .image-logo {
    margin-right: 15px;
    border-radius: 60px;
  }
  .flex-logoinfo {
    display: flex;
    flex-direction: column;
    .title {
      color: white;
      // color: rgb(85, 85, 85);
      font-family: 'Times New Roman', Times, serif;
      font-weight: 600;
    }
  }
}

.contact-container {
  // background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  gap: 30px;
  .title {
    color: white;
    // color: rgb(85, 85, 85);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  }
  .contact-info {
    // background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px;
    border-radius: 22px;
    @media(min-width: 1126px) {
      width: 100%;
      font-size: 20px;
      gap: 45px;
      padding: 8px 5px 0px 10px;
      background-color: rgba(232, 232, 232, 0.733);
      .pi-whatsapp {
        background: $whatsapp-green;
        cursor: pointer;
        // Para que el gradient se vea solo en la forma del icono/texto
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
      .pi-instagram {
        // aplico el gradient al fondo
        background: $ins-gradient;
        // Para que el gradient se vea solo en la forma del icono/texto
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
      .pi-map-marker {
        // aplico el gradient al fondo
        background: $ins-maps;
        // Para que el gradient se vea solo en la forma del icono/texto
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }
    @media(max-width: 1126px){
      width: 100%;
      font-size: 40px;
      gap: 45px;
      .pi-whatsapp {
        // aplico el gradient al fondo
        background: $whatsapp-green;
        // Color del icono
        color: white;
        border-radius: 50%;
      }
      .pi-instagram {
        // aplico el gradient al fondo
        background: $ins-gradient;
        // Color del icono
        color: white;
        border-radius: 50%;
      }
      .pi-map-marker {
        // aplico el gradient al fondo
        background: $ins-maps;
        // Para que el gradient se vea solo en la forma del icono/texto
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: white;
        border-radius: 100%;
      }
    }
  }
}

.nav-text {
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  @media(max-width: 1126px){
    display: none;
  }
}

.contact {
  position: relative;
  display: flex;
  flex-direction: row;
  color: darkgray; z-index: 1;
}
