<div class="navbar">
  <div class="flex-logo">
    <img src="assets/images/LogoLaboratorio.webp" class="image-logo" alt="" width="120" height="195">
    <div class="flex-logoinfo">
      <h1 class="title">{{"Laboratorio"}}</h1>
      <h1 class="title">{{"Lisandro Luppi"}}</h1>
    </div>
  </div>
  <div class="contact-container">
    <h1 class="title">{{"Información de contacto (links)"}}</h1>
    <div class="contact-info">
      <div class="contact">
        <a class="pi pi-whatsapp" routerLink="/redirect-page" target="_blank" rel="noopener noreferrer" (click)="abrirWhatsApp()"></a>
        <a class="nav-text ml-2" [href]="whatsAppLink" target="_blank" rel="noopener noreferrer">+54 9 3364366974</a>
      </div>
      <div class="contact">
        <a class="pi pi-instagram" [href]="instagramLink" target="_blank" rel="noopener noreferrer"></a>
        <a class="nav-text ml-2" [href]="instagramLink" target="_blank" rel="noopener noreferrer">laboratoriolisandroluppi </a>
      </div>
      <div class="contact">
        <a class="pi pi-map-marker" [href]="googleMapsLink"
          target="_blank" rel="noopener noreferrer"></a>
        <a class="nav-text ml-2" [href]="googleMapsLink"
          target="_blank" rel="noopener noreferrer">Pellegrini 440</a>
      </div>
    </div>
  </div>
</div>
